nav {
    background-color: #D6EEEE;
    height: 35px;
    display: block;
    position: relative;
    z-index: 99;
}

nav a {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 20px;
    color: black;
    position: relative;
    text-decoration: none;
    top: 25%;
}