{{ define "alias-edit" }}
{{ template "html-head" }}
{{ template "navbar" }}
<main>
  {{ template "alias-edit-content" . }}
</main>
{{ template "html-foot" }}
{{ end }}

{{ define "alias-edit-content" }}
<main>
  <h2>Edit Alias for {{ .RemoteAddr }}</h2>
  <form method="POST" action="/alias">
    <input type="hidden" name="ip" value="{{ .RemoteAddr }}">
    <input type="text" name="alias" maxlength="32" value="{{ .Alias }}">
    <button type="submit">Save</button>
  </form>
  <a href="/connections">Cancel</a>
</main>
{{ end }}