{{ define "connections" }}
{{ template "html-head" }}
{{ template "navbar" }}
<main>
{{ template "connections-content" . }}
</main>
{{ template "html-foot" }}
{{ end }}

{{ define "connections-content" }}
<p>Welcome to LogCrunch.</p>
<h2>SIEM Agents</h2>
<table>
    <tr>
        <th>Remote Address</th>
        <th>Hostname</th>
        <th>Alias</th>
        <th>Last Seen</th>
    </tr>
    {{ if . }}
    {{ range . }}
    <tr>
        <td>{{ .RemoteAddr }}</td>
        <td> <!-- populate template then url encode query properly -->
            <a href="/query?query={{ urlquery (printf "SELECT timestamp, name, host, parsed FROM logs WHERE host = '%s' ORDER BY timestamp DESC LIMIT 100;" .Hostname) }}">
            {{ .Hostname }}
            </a>
        </td>
        <td>
            {{ if .Alias }}
                <a href="/alias/edit?ip={{ .RemoteAddr }}">{{ .Alias }}</a>
            {{else}}<a href="/alias/edit?ip={{ .RemoteAddr }}">Edit</a>
            {{ end }}
        </td>
        <td>{{ formatGoTime .LastSeen }}</td>
    </tr>
    {{ end }}
    {{ end }}
</table>
{{ end }}
