{{ define "schema" }}
Table: logs
<ul>
    <li>log_id</li>
    <li>name</li>
    <li>path</li>
    <li>host</li>
    <li>timestamp</li>
    <li>module</li>
    <li>raw</li>
    <li>parsed</li>
</ul>
SQLite Verbs:
<ul>
    <li>SELECT</li>
    <li>WHERE</li>
    <li>FROM logs</li>
</ul>
SQLite Clauses:
<ul>
    <li>AND</li>
    <li>OR</li>
    <li>NOT</li>
    <li>ANY</li>
    <li>BETWEEN</li>
    <li>EXISTS</li>
    <li>IN</li>
    <li>ALL</li>
</ul>
<a href="https://www.sqlitetutorial.net/sqlite-cheat-sheet/">Reference</a>
{{ end }}